<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <title>Travel Blog</title>
  </head>
  <body>
    <div class="l-wrap--header">
      <div class="l-wrap__inner">
        <header>
          <div class="l-header">
            <h1 class="l-logo">
              <a href="#">
                <img src="<%= require('../images/logo.svg') %>" alt="Travel Blog"/>
              </a>
            </h1>
            <div class="l-nav u-wfull">
              <ul class="c-nav">
                <li class="c-nav__list"><a href="#">NEW</a></li>
                <li class="c-nav__list"><a href="#">COLUMN</a></li>
                <li class="c-nav__list"><a href="#">SERIES</a>Q&A</li>
                <li class="c-nav__list"><a href="#">CONTACT</a></li>
              </ul>
            </div>
          </div>
        </header>
      </div>
    </div>
    <div id="pickup">
      <div class="l-wrap">
        <div class="l-wrap__inner">
          <ul class="c-list--3col">
            <li class="c-list--3col__list">
              <article>
              <div class="c-block_col">
                  <img src="<%= require('../images/pickup1.jpg') %>" alt="ピックアップ画像" class="u-w100"/>
                  <p class="c-fs16">
                    タイトルテキストタイトルテキストタイルテ
                  </p>
                  <div class="c-link--center">
                    <a href="#" class="u-link__underline">READ MORE</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="c-list--3col__list">
              <article>
                <div class="c-block_col">
                  <img src="<%= require('../images/pickup2.jpg') %>" alt="ピックアップ画像" class="u-w100" />
                  <p class="c-fs16">
                    タイトルテキストタイトルテキストタイトルテキストタイトルテキスルテキストタイトルテ
                  </p>
                  <div class="c-link--center">
                    <a href="#" class="u-link__underline">READ MORE</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="c-list--3col__list">
                <article>
                  <div class="c-block_col">
                    <img src="<%= require('../images/pickup3.jpg') %>" alt="ピックアップ画像" class="u-w100" />
                    <p class="c-fs16">
                      タイトルテキストタイトルテキストタイトルテキストタイトル
                    </p>
                    <div class="c-link--center">
                      <a href="#"" class="u-link__underline">READ MORE</a>
                    </div>
                  </div>
                </article>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="l-wrap">
      <div class="l-wrap__inner">
        <div class="l-content">
          <div class="l-main">
            <main>
              <div class="c-container">
                <ul class="c-list--1col">
                  <li class="c-list--1col__list--main">
                    <div class="c-block_col">
                      <div class="c-block_col__head">
                        <h2 class="c-block_col__head__title c-fs24">タイトルテキストタイトルテキストタイトルテキスト</h2>
                        <ul class="c-row_line_list">
                          <li class="c-row_line_list__lists">2020/01/01</li>
                          <li class="c-row_line_list__lists">カテゴリ</li>
                        </ul>
                      </div>
                      <a href="#">
                        <img src="<%= require('../images/main1.jpg') %>" alt="メイン画像" class="u-w100"/>
                      </a>
                      <div class="c-block_col__foot">
                        <p class="c-block_col__foot__text c-fs16">
                          本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト
                        </p>
                        <div class="c-link--center">
                          <a href="#" class="u-link__underline">READ MORE</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="c-list--1col__list--main">
                    <div class="c-block_col">
                      <div class="c-block_col__head">
                        <h2 class="c-block_col__head__title c-fs24">タイトルテキストタイトルテキストタイトルテキスト</h2>
                        <ul class="c-row_line_list">
                          <li class="c-row_line_list__lists">2020/01/01</li>
                          <li class="c-row_line_list__lists">カテゴリ</li>
                        </ul>
                      </div>
                      <a href="#">
                        <img src="<%= require('../images/main2.jpg') %>" alt="メイン画像" class="u-w100"/>
                      </a>
                      <div class="c-block_col__foot">
                        <p class="c-block_col__foot__text c-fs16">
                          本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト
                        </p>
                        <div class="c-link--center">
                          <a href="#" class="u-link__underline">READ MORE</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="c-list--1col__list--main">
                    <div class="c-block_col">
                      <div class="c-block_col__head">
                        <h2 class="c-block_col__head__title c-fs24">タイトルテキストタイトルテキストタイトルテキスト</h2>
                        <ul class="c-row_line_list">
                          <li class="c-row_line_list__lists">2020/01/01</li>
                          <li class="c-row_line_list__lists">カテゴリ</li>
                        </ul>
                      </div>
                      <a href="#">
                        <img src="<%= require('../images/main3.jpg') %>" alt="メイン画像" class="u-w100"/>
                      </a>
                      <div class="c-block_col__foot">
                        <p class="c-block_col__foot__text c-fs16">
                          本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト
                        </p>
                        <div class="c-link--center">
                          <a href="#" class="u-link__underline">READ MORE</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </main>
          </div>
          <div class="l-side">
            <aside>
              <section>
                <div class="p-profile">
                  <img src="<%= require('../images/author.jpg') %>" alt="プロフィール画像" class="p-profile__author_img">
                  <p class="p-profile__name">Raido Tokuyama</p>
                  <p>本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト</p>
                </div>
              </section>
              <section>
                <p class="c-title18--side">Ranking</p>
                <ul class="c-list--1col">
                  <li class="c-list--1col__list">
                    <div class="c-block_col">
                      <img src="<%= require('../images/ranking1.jpg') %>" alt="ランキング画像" class="u-w100"/>
                      <p class="c-block_col__text--side c-fs16">
                        タイトルテキストタイトルテキストタイトルテキスト
                      </p>
                    </div>
                  </li>
                  <li class="c-list--1col__list">
                    <div class="c-block_col">
                      <img src="<%= require('../images/ranking2.jpg') %>" alt="ランキング画像" class="u-w100"/>
                      <p class="c-block_col__text--side c-fs16">
                        タイトルテキストタイトルテキストタイトルテキスト
                      </p>
                    </div>
                  </li>
                  <li class="c-list--1col__list">
                    <div class="c-block_col">
                      <img src="<%= require('../images/ranking3.jpg') %>" alt="ランキング画像" class="u-w100"/>
                      <p class="c-block_col__text--side c-fs16">
                        タイトルテキストタイトルテキストタイトルテキスト
                      </p>
                    </div>
                  </li>
                </ul>
              </section>
              <section>
                <p class="c-title18--side">Archive</p>
                <ul class="c-list--1col">
                  <li class="c-list--1col__lists--side">
                    <a href="#">XXXX年XX月(XX)</a>
                  </li>
                  <li class="c-list--1col__lists--side">
                    <a href="#">XXXX年XX月(XX)</a>
                  </li>
                  <li class="c-list--1col__lists--side">
                    <a href="#">XXXX年XX月(XX)</a>
                  </li>
                  <li class="c-list--1col__lists--side">
                    <a href="#">XXXX年XX月(XX)</a>
                  </li>
                  <li class="c-list--1col__lists--side">
                    <a href="#">XXXX年XX月(XX)</a>
                  </li>
                </ul>
              </section>
            </aside>
          </div>
        </div>
      </div>
    </div>
    <div class="l-wrap--footer">
      <div class="l-wrap__inner">
        <footer>
          <div class="l-footer">
            <div class="l-footer_nav_wrap">
              <ul class="c-nav--footer">
                <li class="c-nav--footer__list">
                  <div class="c-block_col">
                    <h3 class="c-block_col__title--footer c-title18">About</h3>
                    <p>
                      テキストテキストテキストテキストテキストテキストテ
                      キストテキストテキストテキスト テキストテキストテ
                      キストテキストテキストテキストテキストテキストテキ
                      ストテキスト テキストテキストテキストテキストテキ
                      ストテキストテキストテキストテキストテキスト
                    </p>
                    <ul class="c-list--1col u-mt32">
                      <li class="c-list--1col__lists--marker"><a href="#">プロフィール詳細</a></li>
                      <li class="c-list--1col__lists--marker"><a href="#">お仕事の依頼</a></li>
                      <li class="c-list--1col__lists--marker"><a href="#">お問い合わせ</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              <ul class="c-nav--footer">
                <li class="c-nav--footer__list">
                  <div class="c-block_col">
                    <h3 class="c-block_col__title--footer c-title18">Menu</h3>
                    <ul class="c-list--1col">
                      <li class="c-list--1col__lists--footer">
                        <a href="#">NEW</a>
                      </li>
                      <li class="c-list--1col__lists--footer">
                        <a href="#">CATEGORY</a>
                      </li>
                      <li class="c-list--1col__lists--footer">
                        <a href="#">COLUMN</a>
                      </li>
                      <li class="c-list--1col__lists--footer">
                        <a href="#">SERIES</a>
                      </li>
                      <li class="c-list--1col__lists--footer">
                        <a href="#">Q&A</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <ul class="c-nav--footer">
                <li class="c-nav--footer__list">
                  <div class="c-block_col">
                    <h3 class="c-block_col__title--footer c-title18">Twitter</h3>
                    <div class="p-twitter_wrap">
                      <a class="twitter-timeline" data-height="315" href="https://twitter.com/pimopimo?ref_src=twsrc%5Etfw">Tweets by pimopimo</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                  </ぢ>
                </li>
              </ul>
            </div>
            <div class="l-footer__copyright">
              <p class="u-center">© Travel & Blog</p>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
