.c-list {
  &--3col {
    display: flex;
    flex-wrap: wrap;
    &__list {
      flex-basis: calc(100% / 3 - 10px);
      &:not(:nth-child(3n)) {
        margin-right: 15px;
      }
    }
  }
  &--1col {
    &__list {
      margin-top: 32px;
      &:first-child {
        margin-top: unset;
      }
    }
    &__lists {
      &--border {
        border-bottom: 1px solid #333;
        &:first-child {
          border-top: 1px solid #333;
        }
      }
      &--side,
      &--footer {
        border-bottom: 1px solid #333;
        padding: 16px;
        &:first-child {
          border-top: 1px solid #333;
        }
      }
    }
  }
}
