.l-footer {
  margin: 0 auto;
  &_nav_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    padding: 4rem 0;
  }
  &__copyright {
    background-color: $black;
    color: $white;
    padding: 1rem 0;
  }
}
