@import "../foundation/variables";

.l-wrap {
  &--header {
    background-color: #fff;
    width: 100%;
  }
  &--mainvisual {
    width: 100%;
  }
  &__inner {
    max-width: $pcContentsWidth;
    margin: 0 auto;
    padding: 5rem 1rem 0;
    @include media {
      padding: 1rem 1rem 0;
    }
  }
}
