.c-block {
  &_col {
    padding: 0 3rem;
    a {
      display: inline-block;
      text-align: center;
    }
    &__title {
      margin-bottom: 4rem;
      text-align: center;
    }
    &__content {
      &--food {
        margin-bottom: 4rem;
      }
    }
  }
  &_row {
    display: flex;
  }
}
