@import "../../foundation/variables";
.c-nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  overflow-x: auto;
  &__list {
    margin-left: 40px;
    a {
      font-weight: bold;
      text-decoration: none;
      text-shadow: 1px 1px 2px #121212;
      transition: all 0.3s ease;
      &:hover {
        color: red;
      }
    }
  }
}
