.c-list {
  &--2col {
    display: flex;
    flex-wrap: wrap;
    &__list {
      flex-basis: calc(100% / 2);
      padding: 2%;
      @include media {
        flex-basis: 100%;
      }
    }
  }
  &--3col {
    display: flex;
    flex-wrap: wrap;
    &__list {
      flex-basis: calc(100% / 3);
      padding: 1%;
      @include media {
        flex-basis: 100%;
      }
    }
  }
  &--1col {
    &__list {
      margin-bottom: 32px;
      &:last-child {
        margin-top: unset;
      }
      &--left {
        width: 87%;
      }
      &--right {
        text-align: right;
        width: 13%;
      }
    }
  }
}
