.c-list {
  &--2col {
    display: flex;
    flex-wrap: wrap;
    &__list {
      flex-basis: calc(100% / 2);
      padding: 2%;
      @include media {
        flex-basis: 100%;
      }
    }
  }
  &--3col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    &__list {
      @include media {
      }
    }
  }
  &--1col {
    &__list {
      margin-bottom: 0.5rem;
      &:last-child {
        margin-top: unset;
      }
    }
  }
}
