@import "../../foundation/mixin";

.c-section {
  &__header {
    text-align: center;
    &__title {
      @include fs(2.25);
    }
  }
  &--contact {
    background-color: #121212;
    color: #fff;
    margin: 0 calc(50% - 50vw);
  }
}
