<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="<%= require('../images/favicon.ico') %>"
    />
    <title>EBISU COFFEE</title>
  </head>
  <body>
    <div class="l-wrap--header">
      <header>
        <div class="l-header">
          <div class="l-nav">
            <ul class="c-nav">
              <li class="c-nav__list"><a href="#menu">MENU</a></li>
              <li class="c-nav__list"><a href="#about">ABOUT</a></li>
              <li class="c-nav__list"><a href="#location">LOCATION</a></li>
            </ul>
          </div>
          <h1 class="l-logo">
            <img
              src="<%=require('../images/logo.svg') %>"
              alt="サイトタイトル"
            />
          </h1>
        </div>
      </header>
    </div>
    <div class="l-wrap">
      <div class="l-wrap__inner">
        <div class="l-content">
          <div class="l-main">
            <main>
              <section id="menu" class="c-section">
                <div class="c-section__header--menu u-wfull">
                  <h2 class="c-section__header__title">MENU</h2>
                </div>
                <div class="c-container">
                  <ul class="c-list--2col">
                    <li class="c-list--2col__list p-menu--2col">
                      <div class="c-block_col">
                        <div class="c-block_col__title">
                          <p class="u-ib u-bb--red">COFFEE</p>
                        </div>
                        <div class="c-block_col__content">
                          <ul class="c-list--1col">
                            <li class="c-list--1col__list">
                              <div class="c-block_row">
                                <p
                                  class="
                                    c-list--1col__list--left
                                    u-mr16
                                    u-bb--dotted
                                  "
                                >
                                  XXXXXXXX
                                </p>
                                <p class="c-list--1col__list--right">¥500</p>
                              </div>
                            </li>
                            <li class="c-list--1col__list">
                              <div class="c-block_row">
                                <p
                                  class="
                                    c-list--1col__list--left
                                    u-mr16
                                    u-bb--dotted
                                  "
                                >
                                  XXXXXXXX
                                </p>
                                <p class="c-list--1col__list--right">¥500</p>
                              </div>
                            </li>
                            <li class="c-list--1col__list">
                              <div class="c-block_row">
                                <p
                                  class="
                                    c-list--1col__list--left
                                    u-mr16
                                    u-bb--dotted
                                  "
                                >
                                  XXXXXXXX
                                </p>
                                <p class="c-list--1col__list--right">¥500</p>
                              </div>
                            </li>
                            <li class="c-list--1col__list">
                              <div class="c-block_row">
                                <p
                                  class="
                                    c-list--1col__list--left
                                    u-mr16
                                    u-bb--dotted
                                  "
                                >
                                  XXXXXXXX
                                </p>
                                <p class="c-list--1col__list--right">¥500</p>
                              </div>
                            </li>
                            <li class="c-list--1col__list">
                              <div class="c-block_row">
                                <p
                                  class="
                                    c-list--1col__list--left
                                    u-mr16
                                    u-bb--dotted
                                  "
                                >
                                  XXXXXXXX
                                </p>
                                <p class="c-list--1col__list--right">¥500</p>
                              </div>
                            </li>
                            <li class="c-list--1col__list">
                              <div class="c-block_row">
                                <p
                                  class="
                                    c-list--1col__list--left
                                    u-mr16
                                    u-bb--dotted
                                  "
                                >
                                  XXXXXXXX
                                </p>
                                <p class="c-list--1col__list--right">¥500</p>
                              </div>
                            </li>
                            <li class="c-list--1col__list">
                              <div class="c-block_row">
                                <p
                                  class="
                                    c-list--1col__list--left
                                    u-mr16
                                    u-bb--dotted
                                  "
                                >
                                  XXXXXXXX
                                </p>
                                <p class="c-list--1col__list--right">¥500</p>
                              </div>
                            </li>
                            <li class="c-list--1col__list">
                              <div class="c-block_row">
                                <p
                                  class="
                                    c-list--1col__list--left
                                    u-mr16
                                    u-bb--dotted
                                  "
                                >
                                  XXXXXXXX
                                </p>
                                <p class="c-list--1col__list--right">¥500</p>
                              </div>
                            </li>
                            <li class="c-list--1col__list">
                              <div class="c-block_row">
                                <p
                                  class="
                                    c-list--1col__list--left
                                    u-mr16
                                    u-bb--dotted
                                  "
                                >
                                  XXXXXXXX
                                </p>
                                <p class="c-list--1col__list--right">¥500</p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="c-list--2col__list p-menu--2col">
                      <div class="c-block_col">
                        <div class="c-block_col__title">
                          <p class="u-ib u-bb--red">FOOD</p>
                        </div>
                        <div class="c-block_col__content--food">
                          <ul class="c-list--1col">
                            <li class="c-list--1col__list">
                              <div class="c-block_row">
                                <p
                                  class="
                                    c-list--1col__list--left
                                    u-mr16
                                    u-bb--dotted
                                  "
                                >
                                  XXXXXXXX
                                </p>
                                <p class="c-list--1col__list--right">¥500</p>
                              </div>
                            </li>
                            <li class="c-list--1col__list">
                              <div class="c-block_row">
                                <p
                                  class="
                                    c-list--1col__list--left
                                    u-mr16
                                    u-bb--dotted
                                  "
                                >
                                  XXXXXXXX
                                </p>
                                <p class="c-list--1col__list--right">¥500</p>
                              </div>
                            </li>
                            <li class="c-list--1col__list">
                              <div class="c-block_row">
                                <p
                                  class="
                                    c-list--1col__list--left
                                    u-mr16
                                    u-bb--dotted
                                  "
                                >
                                  XXXXXXXX
                                </p>
                                <p class="c-list--1col__list--right">¥500</p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="c-block_col">
                        <div class="c-block_col__title">
                          <p class="u-ib u-bb--red">OTHER</p>
                        </div>
                        <div class="c-block_col__content">
                          <ul class="c-list--1col">
                            <li class="c-list--1col__list">
                              <div class="c-block_row">
                                <p
                                  class="
                                    c-list--1col__list--left
                                    u-mr16
                                    u-bb--dotted
                                  "
                                >
                                  XXXXXXXX
                                </p>
                                <p class="c-list--1col__list--right">¥500</p>
                              </div>
                            </li>
                            <li class="c-list--1col__list">
                              <div class="c-block_row">
                                <p
                                  class="
                                    c-list--1col__list--left
                                    u-mr16
                                    u-bb--dotted
                                  "
                                >
                                  XXXXXXXX
                                </p>
                                <p class="c-list--1col__list--right">¥500</p>
                              </div>
                            </li>
                            <li class="c-list--1col__list">
                              <div class="c-block_row">
                                <p
                                  class="
                                    c-list--1col__list--left
                                    u-mr16
                                    u-bb--dotted
                                  "
                                >
                                  XXXXXXXX
                                </p>
                                <p class="c-list--1col__list--right">¥500</p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
              <section id="about" class="c-section">
                <div class="c-section__header--about u-wfull">
                  <h2 class="c-section__header__title">ABOUT</h2>
                </div>
                <div class="c-container">
                  <ul class="c-list--1col">
                    <li class="c-list--1col__list">
                      <div class="c-block_col">
                        <div class="c-block_col__title">
                          <p class="u-ib u-bb--red">COFFEE</p>
                        </div>
                        <div class="c-block_col__content">
                          <ul class="c-list--2col">
                            <li class="c-list--2col__list">
                              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                            </li>
                            <li class="c-list--2col__list">
                              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                            </li>
                            <li class="c-list--2col__list">
                              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                              サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
              <section id="location" class="c-section">
                <div class="c-section__header--location u-wfull">
                  <h2 class="c-section__header__title">LOCATION</h2>
                </div>
                <div class="c-container u-p0">
                  <ul class="c-list--1col">
                    <li class="c-list--1col__list">
                      <div class="c-block_col__title">
                        <p class="u-ib u-bb--red">OUR STORE</p>
                      </div>
                      <div class="c-block_col__content p-location">
                        <div>
                          <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.273038719021!2d139.70825616466138!3d35.64564402784395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b4046e3f71d%3A0x85ab1d92ef294edf!2z5oG15q-U5a-_6aeF!5e0!3m2!1sja!2sjp!4v1625530082396!5m2!1sja!2sjp"
                            width="100%"
                            height="400"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                          ></iframe>
                        </div>
                        <div class="p-location__address">
                          <p class="p-location__address__text">
                            X-XX-XX, Ebisuminami, Shibuya-ku, Tokyo 150-0022
                            <br />
                            東京都渋谷区恵比寿南X-XX-XX
                          </p>
                          <p class="p-location__address__text">
                            Open 7 days a Week
                            <br />
                            9:00am to 10:00pm
                          </p>
                          <p class="p-location__address__text">
                            Tel : XX-XXXX-XXXX
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
            </main>
          </div>
        </div>
      </div>
    </div>
    <div class="l-wrap--footer">
      <footer>
        <div class="l-footer">
          <div class="l-footer__copyright">
            <p class="u-center">© COFFEE</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
